.jumbotron {
//  background-image: linear-gradient(rgba(105, 155, 180, 0.9), rgba(255, 255, 255, 0.9));
  background: linear-gradient(rgba(105, 155, 180, 0.8), rgba(255, 255, 255, 0.7)), url(../../img/pete_collage_4.jpg);
  
  background-size: cover;
}

#headshot1 {
  max-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.gif {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

@media (min-width: 1200px) {

  .manifesto,
  .gif,
  .carousel-item img,
  #antigone,
  #headshot1,
  #about-point img {
    transition: transform 0.5s;
  }

  .manifesto:hover,
  .gif:hover,
  .carousel-item img:hover,
  #antigone:hover,
  #headshot1:hover,
  #about-point img:hover {
    transform: scale(1.05);
  }
  
}
