//h1 {
//  font-family: 'Baskerville';
//}

.list-group {
//  color: rgb(105, 155, 180);
  color: rgb(122, 18, 35);
}

@media screen and (max-width: 576px){
  .nav-link {
    font-size: .781em;
  }
}

@media screen and (max-width: 425px){
  .nav-link {
    font-size: .7em;
  }
}

body {
  font-family: 'Arsenal', sans-serif;
}

 .jumbo {
  font-family: 'Arsenal', serif;
}

